SHAREPOINT_SITE_URL=https://stadaarz-my.sharepoint.com/personal/vasily_gogolev_stada_kz
SHAREPOINT_FILE_RELATIVE_URL=/personal/vasily_gogolev_stada_kz/Documents/Book 1.xlsx
SHAREPOINT_USERNAME=vasily_gogolev@stada.kz
SHAREPOINT_PASSWORD=YOUR_SECURE_PASSWORD
